* {
    color: rgb(247, 247, 247);
}
.actor-regular {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .aclonica-regular {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#topnavLogo{
    display: block;
}
#logo{
    margin-top: 16px;
    margin-left: 46%;
}
.topnav {
    font-size: 20px;
}

#topnavLinks p{
    list-style-type: none;
}
#topnavLinks a{
    background-color: blueviolet;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
}  
#topnavLinks a{
    display: table-cell;
    text-decoration: none;
}
#topnavLinks a:hover{
    background-color: rgb(220, 188, 251);
    padding: 20px;
    text-decoration: none;
    color: rgb(28, 31, 34);
}  
#topnavLinks p.right{
    margin-left: 60%;
}



body{
    background-image: url("assets/backg.png");
    padding-bottom: 60px;
}

#footer{
    background-color: #3F0D12 !important;
    color: #FFFFFF;
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
}
#footName{
    margin-left: 19.58%;
    padding: 0px 0px 12px 0px;
    width: fit-content;
    margin-bottom: 0px;
}
#bigName{
    font-size: 52px;
    color: #FFFFFF;
}
#copyright{
    font-size: 20px;
    color: #FFFFFF;
}
#footNavMain{
    font-size: 20px;
    background-color: #3F0D12 !important;
    padding: 0px 0px 30px 0px;
    color: #FFFFFF;
    font-family: "Actor", sans-serif;
    display: block;
}
.indent {
    padding-left: 42px;
}

