* {
    background-color: rgb(204, 167, 216);
    color: rgb(247, 247, 247);
}
.actor-regular {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .aclonica-regular {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
    
#footer{
    background-color: #3F0D12 !important;
    color: #FFFFFF;
    width: 100%;
    height: fit-content;
}
#footNavMain{
    font-size: 20px;
    background-color: #3F0D12 !important;
    padding: 0px 0px 30px 0px;
    color: #FFFFFF;
    font-family: "Actor", sans-serif;
}
.indent {
    padding-left: 42px;
}